.sidebar {
  height: 100%;
  width: 230px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../../../../assets/images/bk-ground-dashboard.png");
  background-color: #051e34;
}

.main {
  transition: margin-left .5s;
  margin-left: 230px;
  height: 100vh;
  background-color: #f6f7f9;
}
.page-content{
  //padding-left: 15px;
 // padding-right: 15px;
  height: 85%;
}
