/* You can add global styles to this file, and also import other style files */

html, body { height: auto; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.bg-color {
	background-color: #f6f7f9;
}

.line-color {
	background-color: #c3cfdd;
}

.primary-color{
	color: #3f51b5
}

