.menu-ab-test{
	height: 45px;
	border-bottom: 1px solid #c3cfdd;
}

.mat-toolbar-row, .mat-toolbar-single-row{
	padding: 0;
}

.mat-icon-button{
    margin-right: 30px;
}
.mat-toolbar{
  color: #5c7390;
}